/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2021, 6:57:25 PM
    Author     : felig
*/
body{
    height: 100vh;
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.navbar{
    background: #e81cff!important;
}
.footer{
    background: #40c9ff !important;
}

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.img-left{
    width: 45%;
    background: url(../images/e-learning.png) center;
    background-size: cover;
}
.img-english_course{
    background: url(../images/english_course.png) center;
    background-size: cover;

}

.card-body{
    padding: 2rem;
}

.title{
    margin-bottom: 2rem;
}

.form-input{
    position: relative;
}

.form-input input{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.form-input span{
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #007bff;
}

.form-input input::placeholder{
    color: black;
    padding-left: 0px;
}

.form-input input:focus, .form-input input:valid{
    border: 2px solid #007bff;
}

.form-input input:focus::placeholder{
    color: #454b69;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #007bff !important;
    border: 0px;
}

.form-box button[type="submit"]{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #007bff;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
}

.form-box button[type="submit"]:hover{
    background: #0069d9;
}

.register-link{
    color: #007bff;
    font-weight: bold;
}

.register-link:hover{
    color: #0069d9;
    text-decoration: none;
}


.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.bg-teal-400 {
    background-color: #26a69a
}

a {
    text-decoration: none !important
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}

input[type=text].is-invalid,input[type=password].is-invalid{
    border-color: #dc3545;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12 12;
    background-image: url(../images/is-invalid.png);    
}