# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\joela.LAPTOP-JOEL\Universidad\2021\Ciclo_I\Progra IV\Proyecto_1\CursosLibresEntregable\FreeCourses\FreeCourses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
